$col-green: #ceffd0ff;

body {
  background: url("../img/dark-honeycomb.png");

  background-color: $col-green;
}

.wrap_menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: 0.5s;
  // z-index: 50;
  // border: 1px solid green;
  a {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.menu_btn {
  span,
  span::after,
  span::before {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background-color: #fff;
  }
  span::before {
    transform: translateY(12px);
  }
  span::after {
    transform: translateY(-14px);
  }
}

.index_p {
  // border: 1px solid red;
  // min-width: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    color: white;
    // border: 1px solid red;
    padding: 30px;
  }
}
