$col-green: #ceffd0ff;
$col_text_link: #26aaf0;
$col_submenu_sidebar: #27273b;

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesomeReg";
  src: url("../fonts/Font_Awesome_5_Free-Regular-400.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesomeSol";
  src: url("../fonts/Font_Awesome_5_Free-Solid-900.otf");
  font-weight: 300;
  font-style: normal;
}

body {
  background: url("../img/dark-honeycomb.png");
  font-family: "Roboto";
  background-color: $col-green;
}

// ------------------------ Кнопка меню -------------------------------
.menu-icon-wrapper {
  /*   background: red; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 25px;
}

.menu-icon {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #fff;
  &::before {
    position: absolute;
    left: 0;
    top: -13px;
    content: "";
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  &::after {
    position: absolute;
    left: 0;
    top: 13px;
    content: "";
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  &.menu-icon-active {
    background-color: transparent;
  }
  &.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}

// ------------------------ Кнопка меню (end) -------------------------------

.index_p {
  // border: 1px solid red;
  // min-width: 100px;
  // position: absolute;
  // z-index: 2;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    color: white;
    // border: 1px solid red;
    padding: 30px;
  }
}
.index_p-transparent {
  // border: 1px solid red;
  // min-width: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.2);
    // border: 1px solid red;
    padding: 30px;
  }
}

// --------------------------- Меню --------------------------------------
.wrap_sidebar_menu-hidden {
  // position: relative;
  transform: translateX(1000px);
  transition: 0.3s;
}
.wrap_sidebar_menu-visible {
  // position: relative;
  transform: translateX(0px);
  transition: 0.3s;
}
.sb_menu-margin-top {
  margin-top: 100px;
}

.to_index {
  padding: 10px;
  margin: 80px 5px;
  text-align: center;
  // border: 1px solid red;
  a {
    text-decoration: none;
    color: wheat;
  }
}
.to_index-test {
  @extend .to_index;
  // position: absolute;
  top: 10px;
  left: 10px;
}
.sidebar_menu_list {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  width: calc(100vw - 10px);
  margin: 5px;
  // margin-top: 80px;
  // border: 1px solid red;
  background-color: #000000;
}

.sidebar_menu_list {
  // padding-bottom: 10px;
  a {
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
  }
  label {
    padding: 10px 40px 10px 15px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    &:hover {
      color: $col_text_link;
    }
    &::after {
      content: "\f106";
      font-family: "FontAwesomeSol";
      position: absolute;
      right: 15px;
      transition: 0.3s;
    }
  }
  input {
    display: none;
    &:checked + label {
      background-color: $col_text_link;
      color: white;
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  article {
    background-color: $col_submenu_sidebar;
    overflow: hidden;
    height: 0px;
    position: relative;
    // z-index: 10;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  }
  input:checked ~ article.submenu-1 {
    height: 120px;
  }
  input:checked ~ article.submenu-2 {
    height: 85px;
  }
  input:checked ~ article.submenu-3 {
    height: 85px;
  }
  input:checked ~ article.submenu-4 {
    height: 85px;
  }
  input:checked ~ article.submenu-5 {
    height: 45px;
  }
}

.sb_ml > ul > li {
  padding: 15px 5px 5px 30px;
  a:hover {
    color: red;
  }
}

// --------------------------- Меню (end) --------------------------------------

.wrap_content {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  // border: 5px solid green;
}

.list_docs {
  // border: 1px solid red;
  // margin-top: -80px;
  // position: relative;
  // z-index: 1;
  // opacity: 0.1;
}
.list_docs-test {
  margin-top: -100px;
}
.wrap_opacity-hidden {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.display_on {
  display: block;
}
.display_off {
  display: none;
}

.title_docs {
  color: white;
  text-align: center;
  font-size: 1.2em;
  background-color: $col_submenu_sidebar;
  padding: 10px 40px 10px 15px;
}

.lable_docs {
  color: wheat;
  font-size: 1em;
  padding: 20px 10px 10px 10px;
  // border: 1px solid green;
  // text-decoration: underline;
}

.items_docs {
  text-align: center;
  // color: white;
  // padding: 10px 3px;
  border: 1px solid #26aaf0;
  line-height: 1.5em;
  margin: 5px 3px;
  border-radius: 5px;
  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 3px;
  }
}

#slickQuiz1 {
  // border: 1px solid red;
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: -100;
}
.quizArea {
  // border: 1px solid green;
  // position: absolute;
  // z-index: -90;
}

.list_docs-test1 {
  position: relative;
  width: 90vw;
  height: 90vh;
  z-index: -2;
}
