<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Контрольная работа
        
        .lable_docs Контрольная работа
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") "Контрольная работа"
        .items_docs
          a(href="../files/normdocs/prof_standart_06.015.html") "Контрольная работа. Обязательная"
        
        .lable_docs Тестирование
        .items_docs
          a(href="../files/normdocs/prof_standart_06.015.html") "Тест"
        
        
    
    


  include includes/scripts_in_footer