<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index-test
          //- a(href="index.html") На главную
        +sidebar
      

      
      .list_docs-test
        .wrap_test_unit#current-style
          .test_unit#slickQuiz
            h1.quizName
            .quizArea
              a.button.startQuiz(href="#") Начать тестирование
              .quizHeader
            .quizResults
              h3.quizScore Количество правильных ответов:
                span
              h3.quizLevel
                strong Итоговая оценка:
                span
              .quizResultsCopy
          
        
    
    


  include includes/scripts_in_footer
  script.
    $(document).ready(function() {$("#slickQuiz").slickQuiz();});