<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Контрольная работа
        
        .lable_docs Контрольная работа
        .items_docs
          a(href="https://drive.google.com/open?id=1Frv7oCvLLNZVI-1ERXVQiLFxCCFOV38g") "Контрольная работа"
        .items_docs
          a(href="https://drive.google.com/open?id=1Iwlymwd79x11u-TC1VW2DnM5OSEEiXLh") "Контрольная работа. Обязательная"
        
        .lable_docs Тестирование
        .items_docs
          a(href="test.html") "Тест"
        
        
    
    


  include includes/scripts_in_footer