<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/main.css")
    title Document
  body 
    .wrap_menu-btn
      a(href="#", class="menu_btn")
        span
        

    
    .index_p 
      p УМК по дисциплине "Компьютерная графика"



  

    include includes/scripts_in_footer