<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    .menu-icon-wrapper
      .menu-icon
      
    
    include includes/sidebar_menu
    .wrap_sidebar_menu-hidden
      +sidebar

    
    .index_p 
      p УМК по дисциплине "Компьютерная графика"



  

    include includes/scripts_in_footer