<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu
    .menu-icon-wrapper
      .menu-icon
      
    .wrap_content
    
      .wrap_sidebar_menu-hidden.sb_menu-margin-top
        +sidebar

      
      .index_p 
        p УМК по дисциплине "Компьютерная графика"



  

    include includes/scripts_in_footer