<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Нормативные документы
        
        .lable_docs ФГОС
        .items_docs
          a(href="https://drive.google.com/open?id=1oDS8vuzaZILmv3Hwc7Ofnb_QC7NBlWUv") "Об утверждении образовательного стандарта"
        
        .lable_docs Стандарт
        .items_docs
          a(href="https://drive.google.com/open?id=1T2JeK79DJ9oAY7hVZP6-RyxyONOn5kw1") "Специалист по информационным системам"
        
        .lable_docs Рабочая программа
        .items_docs 
          a(href="https://drive.google.com/open?id=1bWuYtnh7AxFOeYfT7QStHsugEPSPTglV") "Компьютерная графика гр. 301"
        .items_docs
          a(href="https://drive.google.com/open?id=1liBPh8lS3HKHgz8AXcgf6YcZgJNJWR5X") "Компьютерная графика гр. 203"
    
    
    


  include includes/scripts_in_footer