<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Нормативные документы
        
        .lable_docs ФГОС
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.html") "Об утверждении образовательного стандарта"
        
        .lable_docs Стандарт
        .items_docs
          a(href="../files/normdocs/prof_standart_06.015.html") "Специалист по информационным системам"
        
        .lable_docs Рабочая программа
        .items_docs 
          a(href="../files/normdocs/comp_graphics_301_2018.html") "Компьютерная графика гр. 301"
        .items_docs
          a(href="../files/normdocs/comp_graphics_203.html") "Компьютерная графика гр. 203"
    
    
    


  include includes/scripts_in_footer