<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    
    .menu-icon-wrapper
      .menu-icon
    include includes/sidebar_menu
    .wrap_sidebar_menu-hidden
      +sidebar
    .list_docs
      .title_docs Нормативные документы
      .lable_docs ФГОС
      .items_docs "Об утверждении образовательного стандарта"
      
      .lable_docs Стандарт
      .items_docs "Специалист по информационным системам"
      .lable_docs Рабочая программа
      .items_docs "Компьютерная графика гр. 301"
      .items_docs "Компьютерная графика гр. 302"
    



  include includes/scripts_in_footer