<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Практические работы
        
        .lable_docs Лабораторные работы
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №1<br> "Интерфейс программы Компас 3D. Компактная панель"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №2<br> "Создание листа чертежа. Заполнение основной надписи"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №3<br> "Двухмерное черчение, работа с основными командами построения"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №4<br> "Использование глобальных и локальных привязок"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №5<br> "Построение многоугольника по вписанной окружности"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №6<br> "Построение геометрических объектов на чертежах"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №7<br> "Двухмерное черчение, работа с размерами"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №8<br> "Выполнение чертежа по заданным размерам. Простановка размеров"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №9<br> "Выполнение пространственной модели. Проведение измерений"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №10<br> "Построение пространственной модели по заданным размерам"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №11<br> "Создание спецификаций"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №12<br> "Создание ассоциативного чертежа"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №13<br> "Чертеж детали типа Вал"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №14<br> "Чертеж детали типа Втулка"
        .items_docs
          a(href="../files/normdocs/fgos_09_02_07.pdf.html") Лабораторная работа №15<br> "Чертеж детали типа Зубчатое колесо"
        
        
    
    
    


  include includes/scripts_in_footer