<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Практические работы
        
        .lable_docs Лабораторные работы
        .items_docs
          a(href="https://drive.google.com/open?id=1qz6JinJk9gstYpbCPaBOtkLNpZ6PSbcQ") Лабораторная работа №1<br> "Интерфейс программы Компас 3D. Компактная панель"
        .items_docs
          a(href="https://drive.google.com/open?id=1nWurHZHheTRc43wf_9Q6jzLIy1XM3j1R") Лабораторная работа №2<br> "Создание листа чертежа. Заполнение основной надписи"
        .items_docs
          a(href="https://drive.google.com/open?id=1pJ42OmOBv5df9LzoqzN2isr4ERoEpt0f") Лабораторная работа №3<br> "Двухмерное черчение, работа с основными командами построения"
        .items_docs
          a(href="https://drive.google.com/open?id=1dut92ugjyG_iNEL5za1REC2laCCL6LhP") Лабораторная работа №4<br> "Использование глобальных и локальных привязок"
        .items_docs
          a(href="https://drive.google.com/open?id=1-a9EL7NPcc70c4LhGSG5ZBsFR9cFjix8") Лабораторная работа №5<br> "Построение многоугольника по вписанной окружности"
        .items_docs
          a(href="https://drive.google.com/open?id=1ufZSPnkvN84P-ffvxqfOw4U1191-5KNc") Лабораторная работа №6<br> "Построение геометрических объектов на чертежах"
        .items_docs
          a(href="https://drive.google.com/open?id=1sETXk-NBPz8dm4OYqXT8iwuf4m7goOlV") Лабораторная работа №7<br> "Двухмерное черчение, работа с размерами"
        .items_docs
          a(href="https://drive.google.com/open?id=1i5LWHpwdQ9HRGaYQLTLjqCG4PXG2Ty7D") Лабораторная работа №8<br> "Выполнение чертежа по заданным размерам. Простановка размеров"
        .items_docs
          a(href="https://drive.google.com/open?id=1CfjOhLvzsqI0QbslBuoiGxBKAXEO6sow") Лабораторная работа №9<br> "Выполнение пространственной модели. Проведение измерений"
        .items_docs
          a(href="https://drive.google.com/open?id=1LNgVJdghfqCgFvHbdr42poSE1xIKWIlu") Лабораторная работа №10<br> "Построение пространственной модели по заданным размерам"
        .items_docs
          a(href="https://drive.google.com/open?id=1yFUS0v63A4nct_Z0PmGTAC8dM7jiEcbM") Лабораторная работа №11<br> "Создание спецификаций"
        .items_docs
          a(href="https://drive.google.com/open?id=14AN5QfrM4T7EyWFI2OTVjtI4QrzlZfLe") Лабораторная работа №12<br> "Создание ассоциативного чертежа"
        .items_docs
          a(href="https://drive.google.com/open?id=1MF2RCS9qJl2qwH-aTjuJY3mslb8Ps2k1") Лабораторная работа №13<br> "Чертеж детали типа Вал"
        .items_docs
          a(href="https://drive.google.com/open?id=1egMqBiOzWAY0y6iH_VIGsAfnPN5uwV0T") Лабораторная работа №14<br> "Чертеж детали типа Втулка"
        .items_docs
          a(href="https://drive.google.com/open?id=13m6Lvt5TO-Ef028JswrEGp8IdAQH3f9R") Лабораторная работа №15<br> "Чертеж детали типа Зубчатое колесо"
        
        
    
    
    


  include includes/scripts_in_footer