<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Самостоятельная работа
        
        .lable_docs Самостоятельные работы
        .items_docs
          a(href="https://drive.google.com/open?id=1Oml3ot5_B7PvvqupszWZYEbw2spfAlr2") "Знакомство с Компас 3D. Интерфейс программы"
        .items_docs
          a(href="https://drive.google.com/open?id=1ZzIwi4onh1hYBimN6f3i_V97C_vPSE4t") "Условия задачи"
        .items_docs
          a(href="files/samrab/shtok.jpg") "Шток"
        .items_docs
          a(href="files/samrab/paletz.jpg") "Палец"
        //- .items_docs
        //-   a(href="files/samrab/val-shest.cdw") "Вал шестерня"
        //- .items_docs
        //-   a(href="files/samrab/val-ne.cdw") "Вал НЭ"
        //- .items_docs
        //-   a(href="files/samrab/val-gg.cdw") "Вал ГГ"
        
        //- .lable_docs Тренировочние задания
        //- .items_docs
        //-   a(href="files/samrab/trener-zadanie.zip") Задания. После скачивания - необходимо распаковать архив!
        
        
    
    
    


  include includes/scripts_in_footer