<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Теоретические материалы
        
        .lable_docs Конспекты
        .items_docs
          a(href="https://drive.google.com/open?id=1OwngjwrZBAJ6YMF5jQilqX9JFFWzUahw") Конспект<br>"Знакомство с Компас 3D. Интерфейс программы"
        .items_docs
          a(href="https://drive.google.com/open?id=1SA9KAJVWTheHXQX7nOp-fH_9F30wU3vF") Конспект<br> "Основы 3D моделирования"
        
        .lable_docs Презентации
        .items_docs
          a(href="https://drive.google.com/open?id=11kvL7pNkeM7lyKf_BU6FmsxAICEdVU9E") "Компас. САПР"
        .items_docs
          a(href="https://drive.google.com/open?id=11J6dPA0ocEqQSFxTDueiWJYKw38edCyC") "Основы 3D моделирования"
        
        
    
    
    


  include includes/scripts_in_footer