<!DOCTYPE html>
html(lang="en")
  include includes/head
  body 
    include includes/sidebar_menu

    .menu-icon-wrapper
      .menu-icon
    .wrap_content
      .wrap_opacity-hidden
      .wrap_sidebar_menu-hidden
        div.to_index
          a(href="index.html") На главную
        +sidebar
      

      
      .list_docs
        .title_docs Теоретические материалы
        
        .lable_docs Конспекты
        .items_docs
          a(href="../files/teormat/konspekt1.html") Конспект<br>"Знакомство с Компас 3D. Интерфейс программы"
        .items_docs
          a(href="../files/teormat/konspekt2.html") Конспект<br> "Основы 3D моделирования"
        
        .lable_docs Презентации
        .items_docs
          a(href="../files/teormat/kompass_SAPR.html") "Компас. САПР"
        .items_docs
          a(href="../files/teormat/model_3D.html") "Основы 3D моделирования"
        
        
    
    
    


  include includes/scripts_in_footer